[Unit]
Description=Centralised RSyslog
After=docker.service

[Service]
User=core
TimeoutStartSec=0
EnvironmentFile=/etc/environment

ExecStartPre=-/usr/bin/docker kill central-rsyslog-%i
ExecStartPre=-/usr/bin/docker rm central-rsyslog-%i
ExecStartPre=/usr/bin/docker pull pindar/docker-rsyslog
ExecStartPre=/usr/bin/sudo /usr/bin/mkdir -p /vol/logs

ExecStart=/usr/bin/bash -c '\
/usr/bin/docker run \
--name central-rsyslog-%i \
-p 514:514 \
-p 514:514/udp \
--dns ${COREOS_PRIVATE_IPV4} \
--dns-search=example.local \
-e ELASTICSEARCH_HOST=elasticsearch-9200.staging.example.local \
-e SERVICE_ID=%p%i \
-v /vol/logs:/var/log/remote \
pindar/docker-rsyslog'

ExecStop=/usr/bin/docker stop central-rsyslog-%i

[X-Fleet]
Conflicts=central-rsyslog@*.service