[Unit]
Description=ElasticSearch service
After=docker.service

[Service]
TimeoutSec=0
EnvironmentFile=/etc/environment

ExecStartPre=/usr/bin/mkdir -p /vol/data/elasticsearch
ExecStartPre=/usr/bin/docker pull dockerfile/elasticsearch

ExecStart=/bin/bash -c '\
  exec docker run \
  --name %p-%i \
  -h `hostname` \
  --publish 9200:9200 \
  --publish 9300:9300 \
  --volume /vol/data/elasticsearch:/data \
  -e SERVICE_ID=%p%i \
  -e ES_HEAP_SIZE=512M \
  --dns ${COREOS_PRIVATE_IPV4} \
  --dns-search=example.local \
  dockerfile/elasticsearch \
  /elasticsearch/bin/elasticsearch \
  --node.name=%p-%i \
  --cluster.name=logstash \
  --network.publish_host=${COREOS_PRIVATE_IPV4} \
  --discovery.zen.ping.multicast.enabled=false \
  --discovery.zen.ping.unicast.hosts=elasticsearch-9200.staging.example.local'

ExecStop=/usr/bin/docker stop %p-%i
ExecStop=/usr/bin/docker rm %p-%i

[X-Fleet]
Conflicts=%p@*.service
