[Unit]
Description=RabbitMQ service
After=docker.service

[Service]
TimeoutSec=180
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/docker pull rabbitmq:3-management
ExecStartPre=/usr/bin/bash -c \
"echo \"[{rabbit, [{cluster_nodes, {['rabbit@rabbitmqmgmt1', 'rabbit@rabbitmqmgmt2', 'rabbit@rabbitmq1'], disc}}, {loopback_users, []}]}].\" > /tmp/%p-%i"

ExecStartPre=/usr/bin/bash -c \
"echo 'AXBAOXWIVLSGFTYIMZFZ' > /tmp/%p-%i-erlang.cookie"

ExecStart=/bin/bash -c '\
  docker run \
  -h rabbitmqmgmt%i \
  -e SERVICE_TAGS=mgmt \
  -e SERVICE_ID=rabbitmqmgmt%i \
  -e RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS=" -setcookie AXBAOXWIVLSGFTYIMZFZ " \
  -v /tmp/%p-%i:/etc/rabbitmq/rabbitmq.config \
  --dns ${COREOS_PRIVATE_IPV4} \
  --dns-search=rabbitmq-5672.staging.example.local \
  --name %p-%i \
  -p 15672:15672 \
  -p 5672:5672 \
  -p 4369:4369 \
  -p 25672:25672 \
  rabbitmq:3-management'

ExecStop=/usr/bin/docker stop %p-%i
ExecStop=/usr/bin/docker rm %p-%i

[X-Fleet]
Conflicts=%p@*.service
Conflicts=rabbitmq@*.service


